<div th:fragment="content" class="container">
    <div class="card mt-5" style="width: 50%; margin: 0 auto;">
        <div class="card-top text-center p-2">
            <h3 class="card-title">Lista łodzi możliwych do wynajęcia</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>ID</th>
                    <th>Nazwa Łodzi</th>
                    <th>Numer patentu</th>
                    <th>Ilość dni wyjanmu</th>


                </tr>
                </thead>
                <tbody>
                <tr th:object="${boat1}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{nameboat}"></td>
                    <td th:text="*{numberofdays}"></td>
                    <td th:text="*{patent}?'TAK':'NIE'"></td>


                </tr>
                <tr th:object="${boat2}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{nameboat}"></td>
                    <td th:text="*{numberofdays}"></td>
                    <td th:text="*{patent}?'TAK':'NIE'"></td>

                </tr>
                </tbody>
            </table>
        </div>