<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{header}"></div>


<div class="container text-center">
    <section class="jumbotron text-left">
        <div>
            <p align="left">Customer account</p>
            <h1 class="jumbotron-heading" th:text="'Welcome '+${customer.firstName} +' '+ ${customer.lastName}"
                align="left"></h1>
            <p></p>
        </div>

        <div class="container" align="left">
            <a class="btn btn-outline-success" th:href="@{/filter-boats/{id}(id=${customer.id})}"
               style="width: 150px">Rent a boat</a>
            <a class="btn btn-outline-success" th:href="@{/customer-account-reservation/{id}(id=${customer.id})}"
               style="width: 150px; margin-left: 40px">Enter code</a>
            <a class="btn btn-outline-success" th:href="@{/customer-account/{id}/rented-boats(id=${customer.id})}"
               style="width: 150px; margin-left: 40px">Your rentals</a>
            <a class="btn btn-outline-success" th:href="@{/}" style="width: 150px; margin-left: 40px">Logout</a>
        </div>
    </section>
</div>

<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>