<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{header}"></div>


<div class="container text-center">
    <section class="jumbotron text-left">
        <div class="container">
            <br>
            <p>Customer account</p>
        </div>

        <div class="container">
            <div>
                <h1 class="jumbotron-heading" th:text="'Welcome '+${customer.firstName} +' '+ ${customer.lastName}"></h1>
            </div>
        </div>
        <div class="container">
            <a class="btn btn-outline-primary" th:href="@{/}">Rent a boat</a>
            <a class="btn btn-outline-primary" th:href="@{/}">Enter code</a>
            <a class="btn btn-outline-primary" th:href="@{/customer-account/{id}/rented-boats(id=${customer.id})}">Your rentals</a>
            <a class="btn btn-outline-primary" th:href="@{/}">Logout</a>
        </div>
    </section>
</div>

<!-- Bootstrap core JS-->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>