<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <meta charset="utf-8"/>-->
<!--    <title>Here will be a title</title>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>-->
<!--    &lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
<!--    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>-->
<!--    <link th:href="@{/css/main.css}" rel="stylesheet"/>-->
<!--</head>-->
<div th:replace="~{header}"></div>

<body>
<div class="container text-center">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Hello hello</h1>
        </div>

    </section>
</div>


</body>
</html>